<footer class="border-t-[1px] border-[#ABB2BF] p-2 flex justify-center flex-col items-center min-h-28">
    <p class="xs:text-sm text-xl text-white">Sebastián Orellana - Full-Stack Developer</p>
    <div class="flex w-20 justify-around">
        <a href="https://github.com/orellanaseba"><img src="/icons/github.png" alt=""></a>
        <a href="https://linkedin.com/in/sebastian-orellana-desarrollador"><img src="/icons/linkedin.png" alt=""></a>
    </div>
</footer>
