<footer class="border-t-[1px] border-[#ABB2BF] p-2 flex justify-center flex-col items-center min-h-28">
    <p class="xs:text-sm text-xl text-white">Sebastián Orellana - Full-Stack Developer</p>
    <div class="flex w-20 justify-around">
        <img src="/icons/github.png" alt="">
        <img src="/icons/linkedin.png" alt="">
    </div>
</footer>