<nav id="social" class="xs:hidden sm:flex sm:static absolute w-20 left-5 flex items-center justify-around">
    <a href="https://github.com/orellanaseba"><img src="/icons/github.png" alt=""></a>
    <a href="https://linkedin.com/in/sebastian-orellana-desarrollador"><img src="/icons/linkedin.png" alt=""></a>
</nav>
